
    
        
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

:root{
    --azulDnc: #0C70F2;
    --pretoDnc: #303030;
    --cinzaHover: #c9c9c9;

    --fontPadrao: 'Inter';
}

body{
    margin: 0px; /* MARGEM EXTERNA */
    padding: 0px; /* MARGEM INTERNA */
    background: linear-gradient(180deg, rgba(12, 112, 242, 0.5) 19.91%, rgba(12, 112, 242, 0)24.84%), #303030;
    background-repeat: no-repeat;
}

#principal{
    width: 100%;
    height: 80px;
    background-color: var(--pretoDnc);
    display: flex;
    justify-content: space-between;
    align-items: center;    


}

#menu{
    display: flex;
    width: 55%;
    justify-content: space-around; /* DISTRIBUI OS ELEMENTOS DENTRO DA DIV*/
    align-items: center; /* ALINHAMENTO VERTICAL */
    margin-left: 5%;
}

#principal div a{
    color: white;
    font-size: 25px;
    font-weight: 600;
    text-decoration: none;
    font-family: var(--fontPadrao);
}

#principal div a:hover{
    color: var(--cinzaHover);
}



#principal button{
    margin-right: 5%;
    background-color: var(--azulDnc);
    border: 0px;
    height: 39px;
    width: 80px;
    font-size: 20px;

    font-weight: 600;
    font-family: var(--fontPadrao);
    color: white;
    cursor: pointer;
   
    
}

/*SECACO DO SITE*/

section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 100px;

}

header{
    color: white;
    font-family: var(--fontPadrao);
}

header h1{
    font-size: 80px;
    font-weight: 800;
    margin-bottom: 20px;
    text-align: center;
}

header h2{
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 100px;
}

header .invert{
    background-color: black;
    font-weight: bold;
    padding: 5px;
}

/*FORMULARIO*/

form{
    color: white;
    font-family: var(--fontPadrao);
    font-size: 30px;
    font-weight: 600;
    width: 600px;
}

.formGroup{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: 10px;
}

form input{
    border-radius: 10px;
    border: 0px;
    height: 40px;
    font-size: 20px;
    padding: 5px;
    background-color: rgba(255,255,255, 0.9);
}

form label{
    margin: 10px 0px 10px 0px;
}

form input::placeholder{
    color: rgba(57, 57, 57, 0.5);

}

.checkbox label{

    font-size: 25px;
}

.checkbox{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

input[type='checkbox']{
    transform: scale(1.7);
}

input[type='submit']{
    background-color: var(--azulDnc);
    width: 100%;
    height: 56px;
    font-size: 32px;
    color: white;
    margin-top: 30px;
    cursor: pointer;
}

/*FOOTER*/

footer{
    width: 100%;
    background-color: var(--azulDnc);
    
}



footer .linha1{
    display: flex;
    justify-content: space-around;
    align-items: center ;
    
}

footer ul{
    list-style: none;
    margin: 0px;
    padding: 0px;
    font-family: var(--fontPadrao);

}

footer h5{
    text-align: center;
    color: white;
    font-weight: 800;
    font-size: 25px;
    font-family: var(--fontPadrao);
    background-color: black;
    border-radius: 10px;
}

footer ul li{
    text-align: center;
    font-weight: 600;
    font-size: 25px;
    font-family: var(--fontPadrao);
    margin-top: 20px;
    margin-bottom: 20px;
}

footer ul li a{
    color: white;
    text-decoration: none;
    
}

footer .endereco{
    font-weight: 600;
    font-size: 20px;
    font-family: var(--fontPadrao);
    color: white;
    text-align: center;
    

}

footer ul li a:hover{
    color: var(--cinzaHover);
}